<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>餐廳評論網</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{!-- Navbar --}}
  <div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" id="logo-coolRest" href="/">CoolRest 餐廳評論網</a>
        {{#if user}}
        <div class="btn-group">
          <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="{{user.image}}" alt="avatar" style="border-radius: 50%; width:1.8em;height: 1.8em">
            <span class="mx-1">Hi, {{user.name}}</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/{{user.id}}">個人資料</a>
            {{#if user.isAdmin}}
            <a class="dropdown-item" href="/admin">管理員後台</a>
            {{/if}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">LogOut</a>
          </div>
        </div>
        {{/if}}
      </div>
    </nav>
  </div>

  <br />

  <main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
        {{#if success_messages}}
        <div class="alert alert-success" role="alert" style="margin: 30px 0 ;">
          {{success_messages}}
        </div>
        {{/if}}
        {{#if error_messages}}
        <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
          {{error_messages}}
        </div>
        {{/if}}

        {{{body}}}
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>